<!-- Services Section -->
<div class="v-line v-line-right">
  <div class="container">
    <div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
      <div class="swiper-wrapper">

        <div class="swiper-slide">{% include buying.html %}</div>
        <div class="swiper-slide">{% include selling.html %}</div>
        <div class="swiper-slide">{% include leasing.html %}</div>
        <div class="swiper-slide">{% include advisor.html %}</div>
        <div class="swiper-slide">{% include after-sales.html %}</div>

      </div>
      <div class="swiper-pagination"></div>
    </div>

    <div class="lui-bgtitle">
      <span> Services </span>
    </div>
  </div>
</div>

<!-- Works/Projects Section -->
{% include works-list.html %}

<!-- Testimonials -->
{% include alka-chauhan.html %}
{% include chin2.html %}
{% include rahul-muthiah.html %}

<!-- Contacts / Inquiry -->
{% include contacts.html %}
{% include send-message.html %}
