<!-- Section - Hero Started -->
<section class="lui-section lui-section-hero lui-gradient-top" id="started-section">
    <div class="container">
      <!-- Hero Started -->
      <div class="lui-started v-line v-line-left">
        <div class="section hero-started">
            <div class="content scrolla-element-anim-1 scroll-animate" data-animate="active">
                <div class="titles">
                    <div class="lui-subtitle">
                        <span> {{ site.data.global.salutation }}, <b>{{ site.data.global.title_header }}</b>
                        </span>
                    </div>
                    <h1 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
                        <span>
                            <b>{{ site.data.global.title_name }}</b> {{ site.data.global.title_surname }} </span>
                    </h1>
                    <div class="label lui-subtitle"> {{ site.data.global.intro }} <strong>{{ site.data.global.job_title }}</strong>
                    </div>
                </div>
                <div class="description">
                    <div>
                        <p>{{ site.data.global.description }}</p>
                    </div>
                    <div class="social-links">
                        <a target="_blank" rel="nofollow" href="#">
                            <i aria-hidden="true" class="fab fa-facebook"></i>
                        </a>
                        <a target="_blank" rel="nofollow" href="#">
                            <i aria-hidden="true" class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
                <img decoding="async" src="{{ site.profile-img | relative_url }}" alt="&lt;b&gt;Zarir&lt;/b&gt; Engineer" >
                <span class="circle circle-1"></span>
                <span class="circle img-1" style="background-image: url(assets/images/pat-1.png);"></span>
                <span class="circle img-2" style="background-image: url(assets/images/pat-2.png);"></span>
                <span class="circle img-3" style="background-image: url(assets/images/pat-2.png);"></span>
                <div class="info-list">
                    <ul>
                        <li>
                            <span class="num">18 <strong>+</strong>
                            </span>
                            <span class="value">Years of <strong>Experience</strong>
                            </span>
                        </li>
                        <li>
                            <span class="num">90</span>
                            <span class="value">Completed <strong>Projects</strong>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="lui-bgtitle">
          <span> Web Developer </span>
        </div>
      </div>
    </div>
</section>
