<!-- Modal (Bootstrap) -->
<div id="popup-modal" class="modal fade" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content d-flex flex-column">

      <!-- Content -->
      <div class="modal-body overflow-auto flex-grow-1 text-center px-4">
        <h5 class="modal-title mb-3" id="popup-title"></h5>
        <img id="popup-image" class="mb-3 img-fluid d-block mx-auto" src="" alt="Service Image" />
        <p id="popup-description" class="text-gray-700 mb-4"></p>
        <div id="popup-full-text" class="text-sm text-gray-600" style="display: block;"></div>
      </div>

      <!-- Bottom Close Button (centered) -->
      <div class="modal-footer justify-content-center border-0">
<!--        <button type="button" class="btn btn-primary" onclick="closePopup()">Close</button>-->
        <button style="display: block; margin: 0 auto;" class="btn btn-primary" onclick="servicesClosePopup()">Close</button>
      </div>

    </div>
  </div>
</div>
