<!-- Section - Services -->
<section class="lui-section lui-gradient-bottom" id="services-section">

    <!-- Heading -->
    <div class="lui-heading">
        <div class="container">
            <div class="m-titles align-center">
                <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                    <span> What I Do </span>
                </h2>
                <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
                    <span> my <b>Services</b> </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div class="v-line v-line-right">
        <div class="container">
            <div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
                <div class="swiper-wrapper">
                    <!-- Service Slides -->
                    <div class="swiper-slide">
                        {% include buying.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include selling.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include leasing.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include advisor.html %}
                    </div>
                    <div class="swiper-slide">
                        {% include after-sales.html %}
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="lui-bgtitle">
                <span> Services </span>
            </div>
        </div>
    </div>

</section>
