#commentPopup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}
.popup-content {
    text-align: center;
}

#commentPopup input,
#commentPopup textarea {
    width: 90%;
    max-width: 350px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}

#commentPopup button {
    margin-top: 10px;
    padding: 5px 15px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.comments-post,
.section__comments {
  min-height: 400px;
  overflow: visible !important;
  display: block !important;
}

.comments-post {
	margin-top: 100px;
}

.comments-post .m-titles {
	margin-bottom: 0;
	margin-top: 0;
}

.comments-post .m-title small {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 700;
}

.comments-post .m-title small a {
	text-decoration: none;
}

.comments-post .m-title small a:hover {
	text-decoration: underline;
}

	.comments-post {
		margin-top: 60px;
	}
	.comment-box__details {
		font-size: 20px;
	}
	.comment-box__body {
		padding-left: 60px;
	}
	.comment-reply-link {
		font-size: 16px;
	}
	.comments .comment {
		margin: 35px 0;
	}
